/* || Global styles */
:root {
  --color-white: hsl(0, 0%, 100%);
  --color-violet: hsl(257, 40%, 49%);
  --color-soft-magenta: hsl(301, 70%, 71%);
  --color-bright-magenta: hsl(322, 100%, 66%);
  --heading-font: "Poppins", sans-serif;
  --body-font: "Open Sans", sans-serif;
}

body {
  background-color: var(--color-violet);
  color: var(--color-white);
  font-family: var(--body-font);
}

/* || Page header and logo styles */
.header {
  padding: 2.3875rem 2.5rem;
}

.header__logo {
  width: 7.5rem;
  height: 1.1875rem;
  object-fit: cover;
}

/* || Main section styles  */
.main-section {
  text-align: center;
  padding: 0 2.25rem;
  margin-bottom: 1.5rem;
}

.main-section__image {
  margin-bottom: 3.75rem;
  padding: 0 0.25rem;
}

.main-section__title {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.main-section__text {
  margin-bottom: 1.5rem;
}

.main-section__cta {
  display: inline-block;
  background-color: var(--color-white);
  color: var(--color-violet);
  box-shadow: 0.0625rem 0.1875rem 0.3125rem hsla(0, 0%, 0%, 0.27);
  text-decoration: none;
  border-radius: 1.25rem;
  font-size: 0.75rem;
  padding: 0.6875rem 4.71875rem;
}

/* || Page footer and social links styles */
.footer {
  padding: 2.5rem;
  display: flex;
  justify-content: center;
}

.footer__social-links {
  display: flex;
  gap: 0.65625rem;
}

.footer__social-link {
  display: inline-block;
  border: 0.8px solid var(--color-white);
  border-radius: 50%;
}

.footer__social-icon {
  width: 27.5px;
  height: 28px;
  fill: var(--color-white);
  vertical-align: middle;
  transform: scale(0.5);
}
